<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<table>
    <tr>
        <th>기사 번호</th>
        <th>기사 제목</th>
        <th>기사 작성자</th>
        <th>기사 내용</th>
        <th>기사 작성자</th>
        <th>게시판 코드</th>
    </tr>
    <tr>
        <th th:text="${article.articleCode}"></th>
        <th th:text="${article.articleName}"></th>
        <th th:text="${article.articleWriter}"></th>
        <th th:text="${article.articleContext}"></th>
        <th th:text="${article.articleDate}"></th>
        <th th:text="${article.getBoardCode}"></th>
    </tr>
</table>
</body>
</html>